@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

button {
    height: 50px;
    width: 100%;
    color: whitesmoke;
    background-color: slategray;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 130%;
    border: none;
    border-radius: 8px;
}

button:active {
    transform: scale(1.3);
}

body {
    margin: 0;
    height: 100%;
    background: black;
}

.game-container {
    max-width: 400px;
    margin: 20px auto;
    display: block
}

.game-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;   
    width: 100%;
}

.tile {
    border: 2px solid darkslategrey;
    width: 69px;
    height: 69px;
    margin-top: 8px;
    color: azure;
    text-align: center;
    align-items: center;
    font-size: 340%;
    font-weight: bold;
    background-color: none;
    
    transition-property: all;
    transition-duration: 0.5s;

}

.filled {
    animation: pulse 0.3s linear 1;
}

@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
    flex: 1;
}

.keyboard {
    margin: auto;
    padding: 10px 0 10px 0;
    max-width: 600px;
}


h1 {
    color:azure;
    font-family: 'Lalezar', cursive;    
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 5rem;
    padding-bottom: 0;

}

h4 {
    color:azure;
    font-family: 'Red Hat Mono', monospace;    
    text-align: center;
    padding: 8px;
    margin-top: 0;
    margin-bottom: 0;
}



.positional, #position-square {
    background-color: lightblue;
}

.correct, #correct-square {
    background-color: green
}

.incorrect {
    background-color: #222222;
}

.superCorrect {
    background-color: #D4Af37
}

.tile2 {
    border: 2px solid darkslategrey;
    width: 69px;
    height: 69px;
    margin-top: 8px;
    color: azure;
    text-align: center;
    align-items: center;
    font-size: 340%;
    font-weight: bold;
    background-color: none;
    
    transition-property: all;
    transition-duration: 2s;
}


#video {
    margin: 50px auto;
    width: 850px;
    justify-content: center;
}


#top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 115px;
}

#hint {
    border: 1px dotted darkslategrey;
    width: 500px;
    height: 110%;
    margin-top: -30px;
}

#legend {
    margin-left: 20px;
    font-size: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 127.5px;
    margin-top: -30px;
}

.square {
    width: 20px;
    height: 20px;
    border: 1px solid green;
    text-align: center;
    margin: 0 auto;
}

.refresh {
    height: 100%;
    width: 300px;
    background-color: lightblue;
    margin-left: 565px;

    transition-property: all;
    transition-duration: 3s;
}
